body{
    background : url(virat.jpg) no-repeat center center/cover;
    height : 100vh;
}
#open-button{
    position : relative;
    top : 80%;
    left : 10%;
    background : transparent;
    color : white;
    border : solid 2px white;
    border-radius : 10px;
    font-size: 30px;
    box-shadow: 0 0 10px black;
    transition: .5s;
}
#open-button:hover{
    background-color: white;
    color : black;
}
#modal{
    background-color: white;
    width : 150px;
    position : absolute;
    top : 50%;
    left : 50%;
    height : 60px;
    padding : 10px 20px;
    font-size  : 25px;
    display : flex;
    transform : translate(-50%,-50%);
    justify-content: space-between;
    align-items: center;
    animation-name : animatemodal;
    animation-duration: .4s;
    border-radius: 5px;
    box-shadow :0 0 10px black;
    border: solid 1px black;
}
#close-btn{
    cursor:pointer;
    font-size: 3rem;
    color:red;
}
#modal-container{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1;
}
@keyframes animatemodal {
    from{
        top : -300px;
        opacity : 0;

    }
    to {
        top : 50%;
        opacity: 1;
    }
}